###Scala###

*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet


###Haskell###

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config


###Jekyll###
_site/
.sass-cache/

###Hakyll###
_cache/
_site/
.stack-work/

###Specific###
/out/
.DS_Store
graphviz-images/
plantuml-images/
/example/
